<h3>Employees Contact</h3>
<div>
  <button   routerLink="/employees/add">
    add Contact
  </button>
<table >
	<thead>
	<tr>
		<th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Delete</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor = 'let employee of apiServiceService.employees'>
		<td>{{employee.id}}</td>
    <td>{{employee.lname}}</td>
    <td>{{employee.fname}}</td>
    <td>{{employee.phone}}</td>
    <td>{{employee.status}}</td>
    <td  routerLink="/employees/:{{employee.id}}/edit" >Edit</td>
    <td (click) ='deleteEmployee(employee.id)'>Delete</td>
	</tr>
	</tbody>
</table>
<router-outlet></router-outlet>
</div>
