
<div class = "formClass">
    <p>edit-employee Contact!</p>
  <form  name="myForm" action="/action_page.php" method="get">
    <label class ="labelClass" for="name"> first name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="addEmployee.fname" required minlength="4" #name="ngModel"><br><br>
    <div *ngIf="name?.errors?.required" class ="requireClass">
        Name is required.
      </div>
      <div *ngIf="name?.errors?.minlength" class ="requireClass">
        Name must be at least 4 characters long.
      </div>
    <label class ="labelClass" for="name"> last name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="addEmployee.lname"><br><br>
    <label  class ="labelClass" for="Phone">Phone:</label>
    <input type="text" id="phone" name="phone" [(ngModel)]="addEmployee.phone" pattern ='[0-9]{10}' required #mobNumber="ngModel"><br><br>
    <div *ngIf="mobNumber?.errors?.pattern" class ="requireClass">
        Mobile number not valid.
      </div>
      <div *ngIf="mobNumber?.errors?.required" class ="requireClass">
          Mobile Number is required.
        </div>
    <label class ="labelClass" for="name"> status:</label>
    <select name="status" class="selectStatus" style="width: 90%;height: 34px;" [(ngModel)]="addEmployee.status" >
      <option *ngFor = "let status of statusList" >{{status}}</option>
      </select>
    <label class ="labelClass" for="Phone">address 1:</label>
    <div class= "submitClass">
      <input type="button" type="submit" (click)="formSubmit()" value="Send data to Edit!" id="form-submit" routerLink="/employees">
    </div>
  </form>
</div>
