<p>edit-employee works!</p>
<form  name="myForm" action="/action_page.php" method="get">
  <label for="name"> name:</label>
  <input type="text" id="name" name="name" [(ngModel)]="addEmployee.name"><br><br>
  <label for="Phone">Phone:</label>
  <input type="text" id="phone" name="phone" [(ngModel)]="addEmployee.phone"><br><br>
  <label for="name"> city:</label>
  <input type="text" id="city" name="city" [(ngModel)]="addEmployee.address.city"><br><br>
  <label for="Phone">address 1:</label>
  <input type="text" id="address1" name="address1" [(ngModel)]="addEmployee.address.addressline1"><br><br>
  <label for="name"> address 2:</label>
  <input type="text" id="address2" name="address2" [(ngModel)]="addEmployee.address.addressline2"><br><br>
  <label for="Phone">postalcode:</label>
  <input type="text" id="postalcode" name="postalcode" [(ngModel)]="addEmployee.address.postalcode"><br><br>
  <input type="button" type="submit" (click)="formSubmit()" value="Send form data!" id="form-submit" routerLink="/employees">
</form>
